useDynLib("magree")
exportPattern("^[[:alpha:]]+")
## export(magree,oconnell,schouten)
importFrom(graphics,plot)
exportMethods(plot,summary,print)

S3method(print,magree)
S3method(print,oconnell)
S3method(print,schouten)
S3method(plot,magree)
S3method(plot,oconnell)
S3method(plot,schouten)
S3method(summary,magree)
S3method(summary,oconnell)
S3method(summary,schouten)
S3method(print,summary.magree)
S3method(print,summary.oconnell)
S3method(print,summary.schouten)
