useDynLib("magree")
exportPattern("^[[:alpha:]]+")
## export(magree,oconnell,schouten)
exportMethods(plot,summary,print)

importFrom("graphics", "axis", "box", "matplot", "points", "segments", "plot")
importFrom("stats", "pchisq", "pnorm", "qnorm")

S3method(print,magree)
S3method(print,oconnell)
S3method(print,schouten)
S3method(plot,magree)
S3method(plot,oconnell)
S3method(plot,schouten)
S3method(summary,magree)
S3method(summary,oconnell)
S3method(summary,schouten)
S3method(print,summary.magree)
S3method(print,summary.oconnell)
S3method(print,summary.schouten)
